/*---------- CSS Reset ---------*/

*{
   padding:0;
   margin: 0;
   font-size: 100%;
   line-height: 1em;
}

/*---------MAIN STYLING------*/
body{
   width: 80%;
   max-width: 670px;
   margin-left: 10em;;
   background: #964f4d;
   color: rgb(36, 2, 2);
   font-family: 'Proza Libre', sans-serif;
}

/*---------TYPOGRAPHY---------*/

h1, h2, h3{
   font-weight: normal;
   color: rgb(214, 183, 114);
   text-align: left;
}

p, blockquote {
   margin-bottom: 1.5em;
   line-height: 1.5;
   font-family: 'Open Sans', sans-serif;
}

h1 {font-size: 2.872em;
   margin-top: 2em;
   margin-bottom: 0.2em;}

h2 {font-size: 1.999em;
   margin: 1em 0 1em 0;}

h3 {font-size: 1.414em;
   margin-bottom: 1.5em;}

blockquote {
   font-size: 1.5em;
   hanging-punctuation: first;
   text-indent: -0.45;
   color: rgb(214, 183, 114);
   border: 2px solid rgb(214, 183, 114);
      outline: rgb(214, 183, 114);
      margin: auto;  
      padding: 20px;
      text-align: center;
}

cite{
   font-size: 1em;
}

p.double{
   border-style: double;
}



/*---------FOOTER-------*/

footer{
   text-align: left;
   font-size: 0.8em;
   padding: 2em 0 4em 0;
}
